:root {
  --charcoal: rgb(54, 54, 54);
  --forrestGreen: #005014;
  --gold: rgb(233, 177, 74);
  --offwhite: rgb(255, 255, 255);
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--offwhite);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--charcoal);
  border-color: var(--forrestGreen);
  border: 50px;
  
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}



nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--charcoal);
}

nav a {
  color: var(--forrestGreen);
  
}

nav button{
  display-flex: wrap;
  background-color: var(--offwhite);
  border: 20px;
  border-color: var(--forrestGreen);
}

nav :hover {
  background-color: var(--gold);
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--charcoal);
  color: var(--offwhite);
  margin-top: auto;
}

.headshot{
  size: 25%;
}

.smallCards {
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.highlightCard {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  background-color: var(--gold);
  margin: 20px;
}

